.header /*phone*/ {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 0 48px;
  margin: 0 var(--page-margin);
}

@media (min-width: /*landscape-phone*/740px) {
  .header {
    padding-top: 28px;
  }
}

@media (min-width: /*laptop*/1280px) {
  .header {
    padding-bottom: 56px;
    width: 1184px;
  }
}
