.header /*phone*/ {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px var(--page-margin) 48px;
}

@media (min-width: /*landscape-phone*/740px) {
  .header {
    padding-top: 28px;
  }
}

@media (min-width: /*landscape-tablet*/1024px) {
  .header {

  }
}

@media (min-width: /*laptop*/1280px) {
  .header {
    padding-bottom: 56px;
  }
}



