.footer__link {
  font-size: 24px;
  line-height: 24px;
}

.footer__link:nth-child(n+2) {
  padding-top: 32px;
}

@media (min-width: /*landscape-phone*/740px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }

  .footer__link:nth-child(n+2) {
    padding-top: 0;
  }
}
