.lead__title {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 16px;
  text-align: center;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  max-width: 288px;
}

@media (min-width: /*landscape-phone*/740px) {
  .lead__title {
    padding-bottom: 32px;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
  }
}

@media (min-width: /*landscape-tablet*/1024px) {
  .lead__title {

  }
}

@media (min-width: /*laptop*/1280px) {
  .lead__title {

  }
}
