.intro {
  margin: 0 var(--page-margin);
  padding-bottom: 64px;
}

@media (min-width: /*landscape-phone*/740px) {
  .intro {
    padding-bottom: 88px;
  }
}

@media (min-width: /*landscape-tablet*/1024px) {
  .intro {
    padding-bottom: 92px;
    width: 984px;
  }
}
