.place__descriptions {
  margin: 0 var(--page-margin);
}

@media (min-width: /*landscape-phone*/740px) {
  .place__descriptions {
    margin: 0;
    width: calc(100% - var(--place-columns-gap) - var(--place-picture-width));
  }
}
