.place {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 32px;
}

@media (min-width: /*landscape-phone*/740px) {
  .place {
    --place-columns-gap: 28px;
    --place-picture-width: 340px;
    column-gap: var(--place-columns-gap);
    flex-direction: row;
    row-gap: 48px;
    align-items: flex-start;
  }
}

@media (min-width: /*landscape-tablet*/1024px) {
  .place {
    --place-columns-gap: 32px;
    --place-picture-width: 440px;
  }
}

@media (min-width: /*laptop*/1280px) {
  .place {
    --place-columns-gap: 40px;
    --place-picture-width: 460px;
  }
}
